body {
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f4ef;
}

.feedback-container {
  background-color: #fef6e4;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

.emoji-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}
.far {
  font-size: 5.5rem;
  margin: 1px;
  transform: translateX(0);
}

.rating-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}

.fa-star.active {
  color: gold;
}

.fa-star {
  color: lightgray;
  cursor: pointer;
}
